#body{
    padding: 2% 18%;
}
#body #bodyItem{
    padding-top: 2rem;
    margin-right: -33px;
}
#body .item{
    padding: 0 1rem 1rem 1rem;
    text-align: center;
}
#body .itemIcon{
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 5px;
    font-size: 2rem;
    margin: 0 40% -10% 40%;
    position: sticky;
}
#body .itemContent{
    padding: 5rem 4.3rem;
    background-color: #F8F9FA;
    margin-right: 1rem;
}
#body .itemContent h2{
    font-size: 1.5rem;
    font-weight: bold !important;
}
#body .itemContent p{
    font-size: 1rem !important;
}
#body .bi::before, [class^="bi-"]::before, [class*=" bi-"]::before{
    line-height: 2.4;
}